Repository prefeitura-rio/pipelines, pull requests merged in 2022-12, with the labels that each got.

#249 Dump do Monitor Verde
  pipelines/constants.py
  pipelines/flows.py
  pipelines/rj_seop/__init__.py
  pipelines/rj_seop/dump_url_monitor_verde/__init__.py
  pipelines/rj_seop/dump_url_monitor_verde/flows.py
  pipelines/rj_seop/dump_url_monitor_verde/schedules.py
  pipelines/utils/dump_url/flows.py
  pipelines/utils/dump_url/utils.py
Labels: conflict

#295 [smtr][subsidio_sppo] Mudança dos sumários para `dashboard_subsidio_sppo`
  pipelines/rj_smtr/constants.py
  pipelines/rj_smtr/materialize_to_datario/flows.py
  pipelines/rj_smtr/projeto_subsidio_sppo/flows.py
  pipelines/rj_smtr/projeto_subsidio_sppo/tasks.py
  pipelines/rj_smtr/schedules.py
Labels: rj-smtr/subsidio_sppo

#302 [smtr][subsidio_sppo] fix: timezones de datas
  pipelines/rj_smtr/projeto_subsidio_sppo/tasks.py
Labels: rj-smtr/subsidio_sppo

#296 [FEATURE] Adiciona pipeline genérica para geolocalização de tabelas
  .github/workflows/cd_staging.yaml
  pipelines/rj_escritorio/dados_mestres_dump_datario/schedules.py
  pipelines/rj_seop/dump_url_monitor_verde/schedules.py
  pipelines/rj_smfp/dump_db_ergon/schedules.py
  pipelines/utils/__init__.py
  pipelines/utils/dump_datario/tasks.py
  pipelines/utils/execute_dbt_model/tasks.py
  pipelines/utils/georeference/__init__.py
  pipelines/utils/georeference/flows.py
  pipelines/utils/georeference/tasks.py
  pipelines/utils/georeference/utils.py
  poetry.lock
  pyproject.toml
Labels: staging

#298 [precipitacao alertario] Bugfix
  pipelines/rj_cor/meteorologia/precipitacao_alertario/flows.py
  pipelines/rj_escritorio/dados_mestres_dump_datario/schedules.py
  pipelines/rj_smfp/dump_db_ergon/schedules.py
  pipelines/utils/custom.py
  pipelines/utils/execute_dbt_model/tasks.py
  pipelines/utils/utils.py
Labels: conflict

#262 Tabela Níveis dos Reservatórios
  pipelines/flows.py
  pipelines/rj_cor/comando/eventos/tasks.py
  pipelines/rj_escritorio/dummy_predict/flows.py
  pipelines/rj_rioaguas/__init__.py
  pipelines/rj_rioaguas/saneamento_drenagem/nivel_lamina_agua/__init__.py
  pipelines/rj_rioaguas/saneamento_drenagem/nivel_lamina_agua/flows.py
  pipelines/rj_rioaguas/saneamento_drenagem/nivel_lamina_agua/schedules.py
  pipelines/rj_rioaguas/saneamento_drenagem/nivel_lamina_agua/tasks.py
  pipelines/rj_rioaguas/saneamento_drenagem/nivel_reservatorio/__init__.py
  pipelines/rj_rioaguas/saneamento_drenagem/nivel_reservatorio/flows.py
  pipelines/rj_rioaguas/saneamento_drenagem/nivel_reservatorio/schedules.py
  pipelines/rj_seop/dump_url_concevacao_ambiental/schedules.py
  pipelines/rj_smfp/dump_db_ergon/flows.py
  pipelines/rj_smfp/dump_db_ergon_comlurb/flows.py
  pipelines/utils/constants.py
  pipelines/utils/custom.py
  pipelines/utils/decorators.py
  pipelines/utils/dump_earth_engine_asset/tasks.py
  pipelines/utils/tasks.py
Labels: conflict

#297 [smtr] [rdo] Adiciona flows de captura do RDO/RHO
  pipelines/rj_smtr/__init__.py
  pipelines/rj_smtr/br_rj_riodejaneiro_rdo/__init__.py
  pipelines/rj_smtr/br_rj_riodejaneiro_rdo/constants.py
  pipelines/rj_smtr/br_rj_riodejaneiro_rdo/flows.py
  pipelines/rj_smtr/br_rj_riodejaneiro_rdo/tasks.py
  pipelines/rj_smtr/br_rj_riodejaneiro_rdo/utils.py
  pipelines/rj_smtr/br_rj_riodejaneiro_sigmob/flows.py
  pipelines/rj_smtr/constants.py
  pipelines/rj_smtr/projeto_subsidio_sppo/flows.py
  pipelines/rj_smtr/schedules.py
  pipelines/rj_smtr/utils.py
Labels: rj-smtr/rho

#307 [smtr][subsidio_sppo] agent hotfix
  pipelines/rj_smtr/projeto_subsidio_sppo/flows.py
  pipelines/rj_smtr/schedules.py
Labels: rj-smtr/subsidio_sppo

#308 [smtr][rho] Ajusta labels
  pipelines/rj_smtr/br_rj_riodejaneiro_rdo/flows.py
  pipelines/rj_smtr/br_rj_riodejaneiro_rdo/tasks.py
  pipelines/rj_smtr/br_rj_riodejaneiro_rdo/utils.py
  pipelines/rj_smtr/utils.py
Labels: rj-smtr/rho

#309 [smtr][viagem_sppo] Alteração de parâmetros de datas para publicação no datario
  pipelines/rj_smtr/materialize_to_datario/flows.py
  pipelines/rj_smtr/projeto_subsidio_sppo/flows.py
Labels: rj-smtr/subsidio_sppo

#303 remove: table from datario
  pipelines/rj_smfp/dump_db_metas/schedules.py
Labels: conflict
