Repository prefeitura-rio/pipelines, pull requests merged in 2022-09, with the labels that each got.

#175 [smtr][rir] Adiciona pipeline de captura do ftp da CET-Rio
  pipelines/rj_smtr/__init__.py
  pipelines/rj_smtr/constants.py
  pipelines/rj_smtr/implicit_ftp.py
  pipelines/rj_smtr/registros_ocr_rir/__init__.py
  pipelines/rj_smtr/registros_ocr_rir/flows.py
  pipelines/rj_smtr/registros_ocr_rir/tasks.py
  pipelines/rj_smtr/utils.py
Labels: rj-smtr

#176 [smtr][rir] Trigger CD
  pipelines/rj_smtr/registros_ocr_rir/flows.py
  pipelines/rj_smtr/registros_ocr_rir/tasks.py
Labels: conflict

#177 [smtr][rir] Fix partitioning
  pipelines/rj_smtr/registros_ocr_rir/tasks.py
Labels: rj-smtr

#180 [FEAT] Generaliza o uso de parâmetros em modelos DBT na pipeline do utils
  pipelines/rj_escritorio/seconserva_buracos_refresh_data/flows.py
  pipelines/rj_smtr/br_rj_riodejaneiro_brt_gps/flows.py
  pipelines/rj_smtr/br_rj_riodejaneiro_onibus_gps/flows.py
  pipelines/rj_smtr/br_rj_riodejaneiro_sigmob/flows.py
  pipelines/rj_smtr/materialize_to_datario/flows.py
  pipelines/rj_smtr/tasks.py
  pipelines/rj_smtr/utils.py
  pipelines/utils/execute_dbt_model/flows.py
  pipelines/utils/execute_dbt_model/tasks.py
  pipelines/utils/execute_dbt_model/utils.py
Labels: enhancement

#183 [smtr][brt] Migração da captura do BRT
  pipelines/rj_smtr/br_rj_riodejaneiro_brt_gps/flows.py
  pipelines/rj_smtr/br_rj_riodejaneiro_brt_gps/tasks.py
  pipelines/rj_smtr/constants.py
  pipelines/rj_smtr/utils.py
Labels: rj-smtr

#193 [smtr][materialize] Melhora comportamento de materialização e upload
  pipelines/rj_smtr/br_rj_riodejaneiro_brt_gps/flows.py
  pipelines/rj_smtr/br_rj_riodejaneiro_onibus_gps/flows.py
  pipelines/rj_smtr/constants.py
  pipelines/rj_smtr/tasks.py
  pipelines/rj_smtr/utils.py
Labels: enhancement
