Repository prefeitura-rio/pipelines, pull requests merged in 2023-11, with the labels that each got.

#549 Staging/sms vitai flows
  .gitignore
  pipelines/rj_sms/__init__.py
  pipelines/rj_sms/dump_api_prontuario_vitai/constants.py
  pipelines/rj_sms/dump_api_prontuario_vitai/flows.py
  pipelines/rj_sms/dump_api_prontuario_vitai/schedules.py
  pipelines/rj_sms/dump_api_prontuario_vitai/tasks.py
  pipelines/rj_sms/pubsub/__init__.py
  pipelines/rj_sms/pubsub/flows.py
  pipelines/rj_sms/pubsub/tasks.py
  pipelines/rj_sms/pubsub/utils.py
  pipelines/rj_sms/utils.py
  poetry.lock
  pyproject.toml
Labels: conflict

#541 Criar Captura e Materialização Ressarcimento
  pipelines/rj_smtr/br_rj_riodejaneiro_bilhetagem/flows.py
  pipelines/rj_smtr/constants.py
  pipelines/rj_smtr/tasks.py
  pipelines/rj_smtr/utils.py
Labels: rj-smtr

#555 [HOTFIX] Alterar constante materialização ordem pagamento validação / corrigir verificação de tipo daterange materialização
  pipelines/rj_smtr/constants.py
  pipelines/rj_smtr/tasks.py
Labels: bug, rj-smtr

#550 [FEATURE] Faz upload de batches de dados sequencialmente
  .github/workflows/ci.yaml
  Dockerfile
  openssl.cnf
  pipelines/utils/dump_db/db.py
  pipelines/utils/dump_db/flows.py
  pipelines/utils/dump_db/tasks.py
  pipelines/utils/utils.py
  poetry.lock
  pyproject.toml
Labels: staging

#556 [FEATURE] Adiciona pipeline de detecção de alagamentos
  Dockerfile
  pipelines/rj_escritorio/__init__.py
  pipelines/rj_escritorio/flooding_detection/__init__.py
  pipelines/rj_escritorio/flooding_detection/flows.py
  pipelines/rj_escritorio/flooding_detection/schedules.py
  pipelines/rj_escritorio/flooding_detection/tasks.py
  pipelines/rj_escritorio/flooding_detection/utils.py
  poetry.lock
  pyproject.toml
Labels: staging

#563 [ENHANCEMENT] Usar Dask para execução da pipeline de detecção de alagamentos
  pipelines/rj_escritorio/flooding_detection/flows.py
  pipelines/rj_escritorio/flooding_detection/tasks.py
  poetry.lock
  pyproject.toml
Labels: staging

#566 feat: always show cams
  pipelines/rj_escritorio/flooding_detection/flows.py
  pipelines/rj_escritorio/flooding_detection/schedules.py
  pipelines/rj_escritorio/flooding_detection/tasks.py
Labels: staging

#571 [gtfs_captura_tratamento] Adiciona schedule para runs
  pipelines/rj_smtr/br_rj_riodejaneiro_gtfs/flows.py
  pipelines/rj_smtr/constants.py
  pipelines/rj_smtr/tasks.py
Labels: rj-smtr

#576 Alterar table id materialização ordem pagamento
  pipelines/rj_smtr/constants.py
Labels: rj-smtr

#551 Cria novo pull para a pipeline de recursos do SPPO
  .gitignore
  pipelines/rj_smtr/__init__.py
  pipelines/rj_smtr/br_rj_riodejaneiro_recurso/__init__.py
  pipelines/rj_smtr/br_rj_riodejaneiro_recurso/flows.py
  pipelines/rj_smtr/constants.py
  pipelines/rj_smtr/tasks.py
  pipelines/rj_smtr/utils.py
Labels: rj-smtr

#582 Desativar flow captura gps jae
  pipelines/rj_smtr/br_rj_riodejaneiro_bilhetagem/flows.py
Labels: rj-smtr
