Repository prefeitura-rio/pipelines, pull requests merged in 2023-03, with the labels that each got.

#294 [Satelite GOES] alterando forma de encontrar valor da banda
  pipelines/rj_cor/meteorologia/satelite/cpt_convert.py
  pipelines/rj_cor/meteorologia/satelite/flows.py
  pipelines/rj_cor/meteorologia/satelite/remap.py
  pipelines/rj_cor/meteorologia/satelite/satellite_utils.py
  pipelines/rj_cor/meteorologia/satelite/tasks.py
  pipelines/rj_cor/meteorologia/utils.py
  pipelines/rj_cor/tasks.py
  pipelines/rj_cor/utils.py
Labels: conflict

#353 [veiculo] Captura de licenciamento e infração do SPPO
  pipelines/rj_smtr/__init__.py
  pipelines/rj_smtr/tasks.py
  pipelines/rj_smtr/utils.py
  pipelines/rj_smtr/veiculo/__init__.py
  pipelines/rj_smtr/veiculo/constants.py
  pipelines/rj_smtr/veiculo/flows.py
  pipelines/rj_smtr/veiculo/tasks.py
Labels: rj-smtr

#383 Captura da nova API de GPS do BRT
  pipelines/rj_smtr/br_rj_riodejaneiro_brt_gps/flows.py
  pipelines/rj_smtr/br_rj_riodejaneiro_brt_gps/tasks.py
  pipelines/rj_smtr/br_rj_riodejaneiro_rdo/utils.py
  pipelines/rj_smtr/br_rj_riodejaneiro_stpl_gps/flows.py
  pipelines/rj_smtr/br_rj_riodejaneiro_stpl_gps/tasks.py
  pipelines/rj_smtr/constants.py
  pipelines/rj_smtr/tasks.py
Labels: rj-smtr

#388 [FEATURE] Cancela flows em execução por tempo demais
  pipelines/rj_escritorio/cleanup/flows.py
  pipelines/rj_escritorio/cleanup/schedules.py
  pipelines/rj_escritorio/cleanup/tasks.py
  pipelines/rj_escritorio/notify_flooding/tasks.py
Labels: staging
